* {
    box-sizing:border-box;
    font-family: "baloo-paaji_2regular";
}
@font-face {
  font-family:"baloo-paaji_2regular";
  src: url("../src/Components/assets/fonts/baloopaaji2-regular-webfont.woff2")
          format("woff2"),
       url("../src/Components/assets/fonts/baloopaaji2-regular-webfont.woff")
          format("woff");
  font-weight: normal;
  font-style: normal;
}

ul,ol {
  list-style: none;
}
